/*HEADER*/
header{width:100%; display:block; float:left;  background:var(--theme_color); position:fixed; left:0; top:0; z-index:99; color:#fff; position: fixed;
.logo img{max-width:80px;}
nav{display:flex; width:100%;  justify-content:flex-end; position:relative; padding:20px 0;
ul{margin:0; padding:0; list-style:none; width:auto; float:right;}
li{float:left; display:block; font-size:.85rem; margin:0 1px; text-transform:uppercase;}
li a{padding:5px 10px; display:block; color:#fff; text-decoration:none;  border-radius:3px; position:relative;
&:before{content: "";position: absolute; top: 0;left: 0;right: 0; bottom: 0; width: 1px;margin: 0 auto;border-style: solid; border-width: 10px 0; border-color:var(--success_hover);; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; visibility: hidden;-webkit-transition-property: opacity,visibility,top,bottom,border-color; transition-property: opacity,visibility,top,bottom,border-color; -webkit-transition-duration: .35s; transition-duration: .35s;-webkit-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; z-index: -1;}
 }
 li.active a:before,li a:hover:before {top: -12px;bottom: -12px;opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; visibility: visible; z-index:1}
 li.active a, li a:hover{color:var(--success_hover);; text-decoration:none;}
 }
.accouts_nav{
  ul{width:100%; display:flex; justify-content:flex-end; height:100%; align-items:center; font-size:.8rem; list-style:none;
  li a{padding:2px 10px; display:block; color:#fff; text-decoration:none;  border-radius:3px; position:relative;}
  }
 a{font-weight:300; white-space:nowrap;} 
}
li .active{color:var(--theme_color);}
.menu_icon{position:relative; width:30px; height:25px; cursor:pointer; float:right; display:none;
.strips{width:100%; height:3px; background:#CCC; display:block; position:absolute; left:0; -webkit-transition:.6s ease; transition:.6s ease;}
.strp1{top:0px;}
.strp2{top:8px;}
.strp3{top:16px;}
&.btn_active{
  .strp1{-webkit-transform:rotate(45deg) translate(9px, 9px); transform:rotate(45deg) translate(9px, 9px); top:0;}
  .strp2{opacity:0;}
  .strp3{-webkit-transform:rotate(-45deg) translate(-9px, 9px);  transform:rotate(-45deg) translate(-9px, 9px); top:0}
  }
 }
}



@media screen and (max-width:767px){
  header{
    .logo img{margin:0 auto; float: none; display:table; }
    nav{margin-top:0;}
    .menu_icon{display:block;}
    nav ul{width:300px; background:#c3002f; padding:10px; border-radius:4px; position:absolute; right:0; top:100%; z-index:99; display:none;}
    nav ul:before{content:""; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #c3002f; position:absolute; right:30px; top:-9px; display:inline-block;}
    nav ul li{width:100%;}
    nav ul li a{color:#fff;}
    nav ul li.active a, header nav  ul li a:hover{background:#fff; color:#c3002f;}
    nav .btn_active + ul{display:block;}
    nav ul li a:before{display:none;}
    .accouts_nav{max-width:55%; order:2;}
    .accouts_nav  ul li a:hover{color:#c3002f;}
    .logo{max-width:25%;}
    .logo + div{max-width: 20%; order:3;}
  }
}
