.content{
  width: 100%;
  display: flex;
  flex-direction: column; 
  table{
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 1px solid #555;
      padding: 8px;
      text-align: left;
    }
    td{font-size: .9rem;}
    td:not(:first-child){
      font-size:.80rem;
      color: #DDD;
    }
    td:first-child {
      width: 35%; 
      span{
      background-color: #44440a;
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 1px 5px;
        color: #f9f9c1;
        border: 1px solid #838303;
        border-radius: 2px;
        font-size: 14px;
        line-height: 16px;
      }
    }
    td:nth-child(2) {
      width: 25%; 
     
    }
    td:last-child {
      width: 40%;
    }
    th {
      background-color: #222;
      color: #fdfdfd;
    }
  }
  
}
 @media screen and (max-width:600px) {
  h4{font-size:1rem;}
  .content{
    table{  border: 0; 
      th{display:none;}     
      display: block;  
      tr{display: flex;
        flex-direction: column;
        border: 1px solid #555;
        margin-bottom: 15px;
        td{
          position: relative;
          padding-left:25%;
          display: block;
          span{display:inline;}
          &:before{
            content: attr(data-attr);
            position: absolute; 
            left: 10px;
            top: 8px;
            font-weight: 600;
            font-size: 12px;
            color:rgb(189, 225, 255)
          }
          &::after{
          content: ":";
            position: absolute;
            left: calc(25% - 10px);
            top: 12px;
            width: 2px;
            height: 10px;
            overflow: hidden;
            color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      td:first-child {
        width: 100%; 
        span{
          display: block;
          margin: 0 0 5px 0;
          padding: 1px 5px;
          font-size: 12px;
          line-height: 14px;
        }
      }
      td:nth-child(2) {
        width: 100%; 
       
      }
      td:last-child {
        width: 100%;
      }
    }
    
  }
  
}