<div class="container mt-5">
    <h2>Linux Command Line Cheat Sheet</h2>
    <hr />
    <ol id="que_index">
        @for (item of dataset; let i=$index; track i) {
        <li [attr.index]="getIndex(i)">
            <h4>{{item.que}}</h4>
            <ul class="titleValueList">
                @for (subItem of item.ans.keyvalues; track $index) {
                <li>
                    <label><span class="cmdname">{{subItem.key}}</span></label>
                    <span class="desc">{{subItem.desc}}</span>
                </li>
                }
            </ul>
        </li>
        }
    </ol>
</div>