:root{
  --theme_color:#009f7c;
  --green_100: #016e57;
  --theme_red:#FF305B;
  --success_hover:#00ffd6;
  --green_900:#00ffd6;
  --light:#fff;
}
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('../public/css/prism-a11y-dark.css');
// @import url('../public/css/prism-duotone-dark.css');
@import url('../public/scss/tutorials.scss');
body.profile{background-color:#fff !important;}

.chart_grid {width: 100%; text-align: center;
  td{min-height:40px;
  &:nth-child(1),&:nth-child(2),&:nth-child(3) { max-width: 100px; min-width: 100px; }
  }
  
}
.content{width:100%; display:block; float:left; overflow:hidden;}